.drag {
  position: fixed;
  padding: 10px;
  background-color: #fff;
  cursor: move;
  z-index: 999;
  cursor: auto;
}
.drag-top {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  background-color: #222;
}
.drag-bottom {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background-color: #555;
}
.drag-left {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #888;
}
.drag-right {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
}
