.recent-files {
    h2 {
        margin: 28px 0 8px 32px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

.file-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px 12px 8px;
    font-weight: 500;
    line-height: 24px;
    color: var(--secondary-color);
}

.file-list {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

.file-row {
    position: relative; // for divider
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 8px;

    .file-icon {
        margin-right: 10px;
    }

    &:not(:last-of-type):after {
        content: '';
        position: absolute;
        left: 32px;
        right: 8px;
        bottom: 0;
        height: 1px;
        background-color: var(--border-color);
    }
}

.file-name {
    flex: 2;
    display: flex;
    align-items: center;
}

.file-owner,
.file-last-modified {
    flex: 1;
}

.file-operation {
    width: 24px;
    height: 24px;
}

.file-check {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
