@tab-shadow:0px 0px 12px rgba(0, 0, 0, 0.2);

.slide-tab-bar-container {
    overflow: hidden;

    .slide-tab-bar {
        user-select: none;
        width: 100%;
        padding: var(--padding-xs) 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }
}

/**
Tab Item, Put outside to be compatible with drag styles
*/
.slide-tab-item {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-xs);
    cursor: pointer;
    margin: 0 var(--margin-xxs);
    color: rgb(var(--grey-1000));

        .slide-tab-span {
            white-space: nowrap;
            box-sizing: border-box;
            padding: var(--padding-xs) var(--padding-base);
            border: 2px solid transparent;
            border-radius: var(--border-radius-base);
            
            &-edit {
                outline: none;
                cursor: text;
                border-color: rgb(var(--primary-color));

                &::selection{
                    background-color: rgb(var(--primary-color));
                    color: rgb(var(--color-white));
                }
            }

        }
}


.slide-tab-active {
        color: rgb(var(--primary-color));
        background-color: rgb(var(--bg-color-secondary));
        font-weight: 700;
        box-shadow: @tab-shadow;
}