.uni-slide-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;

    &-content {
        overflow-y: auto;
        scrollbar-width: thin;

        .uni-slide-bar-item {
            box-sizing: border-box;
            position: relative;
            display: flex;
            overflow: hidden;
            margin: 15px 0;
            width: 160px;
            border-radius: 8px;
            border: 1px solid #ecedef;

            span {
                position: absolute;
                width: 15px;
                font-size: 12px;
                left: 6px;
                bottom: 6px;
                width: 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                overflow: hidden;
                background: rgba(20, 34, 43, 0.4);
                z-index: 10;
                color: white;
            }

            .uni-slide-bar-box {
                position: relative;
                width: 160px;
                height: 90px;
            }

            &-active {
                border-color: rgb(var(--blue-500));
            }

            &:hover {
                border-color: rgb(var(--blue-500));
            }
        }

        &-header {
            padding-top: var(--padding-lg);
            display: flex;
            justify-content: center;

            a {
                width: 212px;
                padding: var(--padding-xs) 0;
                font-size: var(--font-size-sm);
                background: rgb(var(--bg-color-secondary));
                text-align: center;
                border: 1px solid rgb(var(--border-color));
                border-radius: var(--border-radius-base);
                display: block;
                transition: all 0.25s;
                cursor: pointer;

                &:hover {
                    background: rgb(var(--bg-color-hover));
                }
            }
        }
    }

    .new-slide-button {
        position: relative;
        height: 32px;
        margin-top: 16px;
        padding: 0 var(--margin-xs);
        border-radius: var(--border-radius-lg);
        color: rgba(var(--hyacinth-500));
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }

        &:hover {
            background-color: rgb(var(--grey-100));
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -10px;
            height: 1px;
            background-color: #ecedef;
        }
    }
}
