/* temp_stylePlugin:ni:sha-256;47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU */
/* temp_stylePlugin:ni:sha-256;uLRoeR8bi8tcDYVG3sBkWkt2IoDi4RZHeZL0_lYT-90 */
.univer-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
}
.univer-icon > * {
  line-height: 1;
}
.univer-icon svg {
  display: inline-block;
}
.univer-icon::before {
  display: none;
}
.univer-icon .univer-icon-icon {
  display: block;
}
.univer-icon-spin::before,
.univer-icon-spin {
  display: inline-block;
  -webkit-animation: univer-loadingCircle 1s infinite linear;
  animation: univer-loadingCircle 1s infinite linear;
}
@-webkit-keyframes univer-loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes univer-loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* temp_stylePlugin:ni:sha-256;1N6xhk-3WLcWQULjNR6Pw8Uwptn8t2_k268GdPDGD18 */
.univer-avatar {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: var(--bg);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}
.univer-avatar-image {
  background: transparent;
}
.univer-avatar-square {
  border-radius: 2px;
}
.univer-avatar-lg {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.univer-avatar-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
}
.univer-avatar > img {
  display: block;
  width: 100%;
  height: 100%;
}

/* temp_stylePlugin:ni:sha-256;4xIm8vfps4bh8SlNX_DSF6nB2PZhfYI6BF27_am7cLQ */
.univer-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  padding: 0 10px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  height: 30px;
  border-radius: 1px;
  font-size: 14px;
  color: var(--text-color);
  background: var(--bg);
  border-color: var(--border-color-base);
}
.univer-btn,
.univer-btn:active {
  outline: 0;
}
.univer-btn[disabled] {
  cursor: not-allowed;
}
.univer-btn[disabled] > * {
  pointer-events: none;
}
.univer-btn-lg {
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
}
.univer-btn-sm {
  height: 24px;
  border-radius: 2px;
  font-size: 12px;
}
.univer-btn:hover,
.univer-btn:active {
  color: #0188fb;
  background: var(--bg);
  border-color: #0188fb;
}
.univer-btn[disabled],
.univer-btn[disabled]:hover,
.univer-btn[disabled]:active {
  color: var(--disabled-color);
  background: var(--disabled-bg);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.univer-btn > span {
  display: inline-block;
}
.univer-btn-primary {
  color: var(--bg);
  background: #0188fb;
  border-color: #0188fb;
}
.univer-btn-primary:hover {
  color: var(--bg);
  background: rgba(1, 136, 251, 0.7);
  border-color: rgba(1, 136, 251, 0.7);
}
.univer-btn-primary:active {
  color: var(--bg);
  background: rgba(1, 136, 251, 0.5);
  border-color: rgba(1, 136, 251, 0.5);
}
.univer-btn-primary[disabled],
.univer-btn-primary[disabled]:hover,
.univer-btn-primary[disabled]:active {
  color: var(--disabled-color);
  background: var(--disabled-bg);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.univer-btn-danger {
  color: var(--bg);
  background: #f5222d;
  border-color: #f5222d;
}
.univer-btn-danger:hover {
  color: var(--bg);
  background: rgba(245, 34, 45, 0.7);
  border-color: rgba(245, 34, 45, 0.7);
}
.univer-btn-danger:active {
  color: var(--bg);
  background: rgba(245, 34, 45, 0.5);
  border-color: rgba(245, 34, 45, 0.5);
}
.univer-btn-danger[disabled],
.univer-btn-danger[disabled]:hover,
.univer-btn-danger[disabled]:active {
  color: var(--disabled-color);
  background: var(--disabled-bg);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.univer-btn-text {
  color: var(--text-color);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
.univer-btn-text:hover {
  color: var(--text-color);
  background: #eee;
  border-color: transparent;
}
.univer-btn-text:active {
  color: var(--text-color);
  background: #eee;
  border-color: transparent;
}
.univer-btn-text[disabled],
.univer-btn-text[disabled]:hover,
.univer-btn-text[disabled]:active {
  color: var(--disabled-color);
  background: transparent;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.univer-btn-active {
  color: var(--text-color);
  background: var(--bg-hover);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.univer-btn-round {
  height: 30px;
  border-radius: 30px;
  font-size: 14px;
}
.univer-btn-round.univer-btn-lg {
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
}
.univer-btn-round.univer-btn-sm {
  height: 24px;
  border-radius: 24px;
  font-size: 12px;
}
.univer-btn-circle {
  min-width: 30px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}
.univer-btn-circle.univer-btn-lg {
  min-width: 40px;
  border-radius: 50%;
}
.univer-btn-circle.univer-btn-sm {
  min-width: 24px;
  border-radius: 50%;
}
.univer-btn-block {
  width: 100%;
}
.univer-btn-loading {
  position: relative;
}
.univer-btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: var(--bg);
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: "";
  pointer-events: none;
}
.univer-btn:active > span {
  position: relative;
}

/* temp_stylePlugin:ni:sha-256;gS61KnGMxIPwTcUuCSnug6JgmdCngyO0XOrXTm1giR4 */
.univer-cell-range-modal {
  position: relative;
  height: 100%;
}
.univer-cell-range-modal .univer-input {
  height: 100%;
}
.univer-cell-range-modal .univer-cell-modal-icon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* temp_stylePlugin:ni:sha-256;_A8hE7qdrJlyzARn-l1PGwKVIK2BNYY0WCT1Nx34o9w */
.univer-checkbox-wrapper {
  display: flex;
  align-items: center;
}
.univer-checkbox-wrapper .univer-check-box {
  position: relative;
}
.univer-checkbox-wrapper .univer-check-box .univer-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.univer-checkbox-wrapper .univer-check-box .univer-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid var(--border-color-base);
}
.univer-checkbox-wrapper .univer-check-box .univer-checkbox-inner::after {
  position: absolute;
  top: 50%;
  left: 21.5%;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  box-sizing: border-box;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.12, 0.4, 0.29, 1.46), opacity 0.1s;
  content: " ";
}
.univer-checkbox-wrapper .univer-check-box-checked .univer-checkbox-inner {
  background-color: var(--primary-color);
}
.univer-checkbox-wrapper .univer-check-box-checked .univer-checkbox-inner::after {
  opacity: 1;
}
.univer-checkbox-wrapper .univer-check-box-disabled .univer-checkbox-inner {
  background-color: var(--disabled-color);
}
.univer-checkbox-wrapper .univer-check-box + span {
  padding: 0 0.5em;
}
.univer-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

/* temp_stylePlugin:ni:sha-256;QBKhJ-QdQNcMf5CNvbO9vpY-i_SCtSpWLFfhASGfRNQ */
.univer-panel-wrapper {
  width: 100%;
  border-bottom: 1px solid var(--border-color-base);
}
.univer-panel-wrapper:first-child ~ .univer-panel-wrapper {
  margin-top: -1px;
}
.univer-panel-wrapper .univer-panel-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
}
.univer-panel-wrapper .univer-panel-header .univer-panel-header-icon {
  margin-left: auto;
  transition: all 0.1s;
}
.univer-panel-wrapper .univer-panel-header .univer-panel-header-icon.univer-panel-header-icon-rotate {
  transform: rotate(180deg);
}
.univer-panel-wrapper .univer-panel-body {
  padding-bottom: 10px;
  display: none;
}
.univer-panel-wrapper .univer-panel-body.univer-active {
  display: block;
}

/* temp_stylePlugin:ni:sha-256;pqFVktHirODbE3Lryu-D8SbNewJWSNvklgZnIKprld8 */
.univer-input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  padding: 2px 7px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5715;
  background-color: var(--bg);
  background-image: none;
  border: 1px solid var(--border-color-base);
  border-radius: 2px;
  transition: all 0.3s;
}
.univer-input:hover {
  border-color: var(--primary-color-hover);
  border-right-width: 1px !important;
}
.univer-input:focus,
.univer-input-focused {
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: var(--box-shadow-base);
}
.univer-input[disabled] {
  color: var(--disabled-color);
  background-color: var(--disabled-bg);
  border-color: var(--border-color-base);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.univer-input[disabled]:hover {
  border-color: var(--border-color-base);
  border-right-width: 1px !important;
}
.univer-input-disabled {
  color: var(--disabled-color);
  background-color: var(--disabled-bg);
  border-color: var(--border-color-base);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.univer-input-disabled:hover {
  border-color: var(--border-color-base);
  border-right-width: 1px !important;
}
.univer-input-borderless {
  border: none;
  box-shadow: none;
}
.univer-input-borderless:hover {
  border: 1px solid var(--border-color-base);
  border-color: var(--primary-color-hover);
  border-right-width: 1px !important;
}
.univer-input-borderless:focus,
.univer-input-borderless-focused {
  border: 1px solid var(--primary-color-hover);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: var(--box-shadow-base);
}

/* temp_stylePlugin:ni:sha-256;JAuTbkBfalQGXWIpeBhOWtCRuR82hqvkFyPve511dss */
.univer-color-picker-panel {
  width: 200px;
  margin-left: 20px;
}
.univer-color-picker-panel .univer-color-picker-panel-setting {
  display: flex;
  align-items: flex-end;
  margin-top: 1em;
}
.univer-color-picker-panel .univer-color-picker-panel-setting .univer-panel-input {
  flex: 2;
  box-sizing: border-box;
}
.univer-color-picker-panel .univer-color-picker-panel-setting .univer-panel-input input {
  width: 100%;
}
.univer-color-picker-panel .univer-color-picker-panel-setting .univer-panel-color {
  flex: 1;
}
.univer-color-picker-panel .univer-color-picker-panel-setting .univer-panel-color > div {
  width: 30px;
  height: 15px;
  margin-left: auto;
}

/* temp_stylePlugin:ni:sha-256;MPRt_c83_jY6sw_M1F6TuhhjGRt6y7lxZToPrO3BT0U */
.univer-color-picker-outer {
  width: fit-content;
  display: block;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-base);
  z-index: 500;
  height: fit-content;
}
.univer-color-picker {
  width: fit-content;
  display: flex;
}
.univer-color-picker .univer-picker {
  width: fit-content;
}
.univer-color-picker .univer-picker .univer-picker-swatches {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.univer-color-picker .univer-picker .univer-picker-swatches .univer-picker-swatches-item {
  display: flex;
  flex-direction: column;
}
.univer-color-picker .univer-picker .univer-picker-swatches .univer-picker-swatches-item .univer-picker-swatch {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 1px solid #eee;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.univer-color-picker .univer-picker .univer-picker-swatches .univer-picker-swatches-item .univer-picker-swatch .univer-picker-swatch-btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}
.univer-color-picker .univer-colorful-warp {
  margin-left: 10px;
}
.univer-color-picker .univer-colorful-warp button {
  font-size: var(--font-size);
  margin: 10px 10px 10px 0;
}
.univer-color-picker .univer-color-btn {
  border: 1px solid var(--border-color-base);
}
.univer-color-picker-slot {
  margin: 5px;
  outline: 1px solid;
}

/* temp_stylePlugin:ni:sha-256;fT-2iZZ9ToNS5TewEaxzkmkkbs54o6djsclb73vErCQ */
.univer-color-picker-circle-button {
  position: relative;
  padding: 2px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.univer-color-picker-circle-button .univer-color-select-circle {
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
}
.univer-color-picker-circle-button .univer-vertical-middle {
  vertical-align: middle;
}

/* temp_stylePlugin:ni:sha-256;TNngRUrkSJtzXTeHbgFWZY5AWqPIl6L8zl2zKL5b4tc */
.univer-format-modal .univer-cols-menu {
  position: static;
  width: 100%;
  box-shadow: none;
  border: 1px solid #000;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}
.univer-format-modal .univer-cols-menu .univer-cols-menuitem {
  height: 30px;
  border-bottom: 1px solid #d9d9d9;
}
.univer-format-modal .univer-cols-menu .univer-cols-menuitem:last-child {
  border-bottom: none;
}
.univer-format-modal .univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content {
  height: 100%;
}

/* temp_stylePlugin:ni:sha-256;tyd6-it6it_zegL-HitDJl4OBRAPk5i-xIpS42R6DLc */
.univer-layout-wrapper {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}
.univer-layout-wrapper.univer-layout-wrapper-has-sider {
  flex-direction: row;
}
.univer-header-wrapper {
  flex: 0 0 auto;
  background: aquamarine;
  user-select: none;
}
.univer-footer-wrapper {
  background: yellow;
}
.univer-content-wrapper {
  flex: auto;
  flex: 1;
}
.univer-sider-wrapper {
  flex-direction: row;
  width: 200px;
}

/* temp_stylePlugin:ni:sha-256;jfdzwCyJQAxn9AMdQwowRNLxoHuJ640N4hglr5-hytI */
.univer-cols-menu {
  border-radius: 0;
  transition: opacity 218ms;
  background: var(--bg);
  box-shadow: var(--box-shadow-base);
  cursor: default;
  margin: 0;
  outline: 0;
  z-index: 100;
  box-sizing: border-box;
  user-select: none;
  position: fixed;
  width: max-content;
  padding: 6px 0;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
}
.univer-cols-menu .univer-cols-menuitem {
  min-width: 80px;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
  list-style: none;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 3px 0;
}
.univer-cols-menu .univer-cols-menuitem:hover {
  background-color: #efefef;
}
.univer-cols-menu .univer-cols-menuitem-line {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 5px 0;
}
.univer-cols-menu .univer-cols-menuitem-disabled {
  pointer-events: none;
  color: #e0e0e0;
}

/* temp_stylePlugin:ni:sha-256;_oTLHJ-YMJjk34VId6ZidRnOgtEUr_ch3cqGTaCCOb8 */
.univer-drag {
  position: fixed;
  padding: 10px;
  background-color: #fff;
  cursor: move;
  z-index: 999;
  cursor: auto;
}
.univer-drag-top {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  background-color: #222;
}
.univer-drag-bottom {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background-color: #555;
}
.univer-drag-left {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #888;
}
.univer-drag-right {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
}

/* temp_stylePlugin:ni:sha-256;IPV3r5bYd8hipRbKnymEd0Ciy-0-j0YEPLe10zu7qyM */
.univer-modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}
.univer-modal-wrapper {
  width: 50%;
  overflow: auto;
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.univer-modal-darg-wrapper {
  width: 50%;
  overflow: auto;
  background-color: #ffffff;
}
.univer-modal-header {
  padding: 1rem 1.5em;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.univer-modal-header .univer-modal-close * {
  cursor: pointer;
}
.univer-modal-body {
  padding: 1rem 1.5em;
  max-height: 70vh;
  overflow: auto;
}
.univer-modal-footer {
  padding: 1rem 1.5em;
  border-top: 1px solid #f0f0f0;
  text-align: right;
}
.univer-modal-footer button {
  margin-right: 0.5em;
  font-size: 1rem !important;
}

/* temp_stylePlugin:ni:sha-256;NhwRBdgxDsB1_JdGFKkuqBmOw6X0G_aI1fvVUKvG5BE */
.univer-radio-group {
  display: flex;
  flex-direction: column;
}
.univer-radio-wrap {
  background-color: #fff;
  display: inline-block;
}
.univer-radio-wrap .univer-radio-left {
  display: inline-flex;
  align-items: center;
}
.univer-radio-wrap .univer-radio-left .univer-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.univer-radio-wrap .univer-radio-left .univer-active {
  background-color: #fff;
}
.univer-radio-wrap .univer-radio-left .univer-active .univer-fork {
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.univer-radio-wrap .univer-radio-left .univer-label {
  margin-left: 0.5em;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}

/* temp_stylePlugin:ni:sha-256;2sysMHx3HGeNSPrmsrGtpYkJjxqtftS9jNwPM-zFhqA */
.univer-resize-dialog {
  position: absolute;
  z-index: 999;
}
.univer-resize-dialog .univer-dialog-move {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.univer-resize-dialog .univer-dialog-move .univer-move-item {
  position: absolute;
  cursor: move;
}
.univer-resize-dialog .univer-dialog-move .univer-move-top {
  width: 100%;
  height: 3px;
  border-bottom: 1px solid #000000;
  left: 0;
  top: -4px;
}
.univer-resize-dialog .univer-dialog-move .univer-move-right {
  width: 3px;
  height: 100%;
  border-left: 1px solid #000000;
  top: 0;
  right: -4px;
}
.univer-resize-dialog .univer-dialog-move .univer-move-bottom {
  width: 100%;
  height: 3px;
  border-top: 1px solid #000000;
  left: 0;
  bottom: -4px;
}
.univer-resize-dialog .univer-dialog-move .univer-move-left {
  width: 3px;
  height: 100%;
  border-right: 1px solid #000000;
  top: 0;
  left: -4px;
}
.univer-resize-dialog .univer-dialog-resize,
.univer-resize-dialog .univer-dialog-resize-active {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  display: none;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-item,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-item {
  position: absolute;
  height: 6px;
  width: 6px;
  border: 1px solid var(--primary-color);
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-lt,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-lt {
  left: -6px;
  top: -6px;
  cursor: se-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-mt,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-mt {
  left: 50%;
  top: -6px;
  margin-left: -4px;
  cursor: s-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-lm,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-lm {
  top: 50%;
  left: -6px;
  margin-top: -4px;
  cursor: w-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-rm,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-rm {
  top: 50%;
  right: -6px;
  margin-top: -4px;
  cursor: w-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-rt,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-rt {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-lb,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-lb {
  left: -6px;
  bottom: -6px;
  cursor: ne-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-mb,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-mb {
  left: 50%;
  bottom: -6px;
  margin-left: -4px;
  cursor: s-resize;
}
.univer-resize-dialog .univer-dialog-resize .univer-resize-rb,
.univer-resize-dialog .univer-dialog-resize-active .univer-resize-rb {
  right: -6px;
  bottom: -6px;
  cursor: se-resize;
}
.univer-resize-dialog .univer-dialog-resize-active {
  display: block;
}

/* temp_stylePlugin:ni:sha-256;UQkrMmq3z5EB_W28K3taZ_-yjdGUjGyRtrHlO8bY2yA */
.univer-tooltip-Group {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.univer-tooltip-Group .univer-tooltip-title {
  display: none;
  white-space: nowrap;
  background-color: #000000bf;
  color: #fff;
  padding: 5px 10px;
  box-shadow: var(--box-shadow-base);
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.5;
}
.univer-tooltip-Group .univer-tooltip-body {
  width: 100%;
  height: 100%;
  display: inline-flex;
}
.univer-tooltip-Group .univer-tooltip-body:hover ~ .univer-tooltip-title {
  position: absolute;
  display: inline-block;
  z-index: 500;
}
.univer-tooltip-ss {
  color: red;
}
.univer-top {
  left: 50%;
  transform: translateX(-50%);
}
.univer-top .univer-tooltip-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: #000000bf;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.univer-right {
  top: 50%;
  transform: translatey(-50%);
}
.univer-right .univer-tooltip-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: #000000bf;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.univer-bottom {
  left: 50%;
  transform: translateX(-50%);
}
.univer-bottom .univer-tooltip-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: #000000bf;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.univer-left {
  top: 50%;
  transform: translatey(-50%);
}
.univer-left .univer-tooltip-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: #000000bf;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* temp_stylePlugin:ni:sha-256;DABko9Of9irznPvwI4JzS-gFo9NxlzJ8KWxWxCqDr4Q */
.univer-dropdown {
  padding: 0px 5px;
  position: relative;
  display: flex;
  align-items: center;
}
.univer-dropdown .univer-drop-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.univer-dropdown .univer-drop-icon {
  height: 100%;
  margin-left: 5px;
  border-left: 1px solid #efefef;
  display: flex;
  align-items: center;
}

/* temp_stylePlugin:ni:sha-256;4gmKK1gDR81FCC2QhoOuYNax4SWCeeLRZiF1QNhDKUw */
.univer-line {
  display: inline-block;
  line-height: normal;
  list-style: none;
  outline: 0;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
}
.univer-line.univer-vertical {
  width: 0;
  height: 20px;
  vertical-align: top;
  border-left: 1px solid #e0e0e0;
  margin: 3px 2px;
}

/* temp_stylePlugin:ni:sha-256;9_mF6OtZEA-Lz9E5d4UF0X9cRyYiu-mB_-XDW2CFn7E */
.univer-sider-modal {
  width: 100%;
  height: 100%;
  border-left: 1px solid;
  background-color: var(--bg);
}
.univer-sider-modal .univer-sider-modal-header {
  overflow: hidden;
  height: 50px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid var(--border-color-base);
}
.univer-sider-modal .univer-sider-modal-header .univer-sider-modal-title {
  line-height: 50px;
  display: inline-block;
}
.univer-sider-modal .univer-sider-modal-header .univer-sider-modal-close {
  display: inline-block;
  float: right;
  line-height: 50px;
  color: var(--text-color);
}
.univer-sider-modal .univer-sider-modal-header .univer-sider-modal-close:hover {
  cursor: pointer;
  color: var(--text-color-secondary);
}
.univer-sider-modal .univer-sider-modal-body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 100%;
}
.univer-sider-modal .univer-sider-modal-body .univer-sider-modal-body-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.univer-sider-modal .univer-sider-modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* temp_stylePlugin:ni:sha-256;FDrHPT7DE2iE5rsu5A9seGZ9_JxwKevm4IhJXt3aaik */
.univer-slider {
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template: repeat(2, -webkit-max-content) 1em/1fr 1fr;
  grid-template: repeat(2, max-content) 1em/1fr 1fr;
  position: relative;
  margin: 1em auto;
  width: 100px;
  height: 2px;
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
}
.univer-slider::before,
.univer-slider::after {
  grid-column: 1 / span 2;
  grid-row: 3;
  height: 2px;
  background: var(--primary-color);
  content: "";
}
[id=multi-lbl] {
  grid-column: 1 / span 2;
}
.univer-sr-only {
  position: absolute;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
input[type=range] {
  grid-column: 1 / span 2;
  grid-row: 3;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  background: none;
  color: red;
  pointer-events: none;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb,
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid var(--primary-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  transform: translateY(-42%);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid var(--primary-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  transform: translateY(-42%);
  cursor: pointer;
}

/* temp_stylePlugin:ni:sha-256;9m8ZKcvbBdqews9HMToieKLlUG6-vnEY6Fg5YbDjqMg */
.univer-tabs {
  overflow: hidden;
}
.univer-tabs .univer-tabs-nav {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
}
.univer-tabs .univer-tabs-nav .univer-tabs-nav-wrap {
  position: relative;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: nowrap;
}
.univer-tabs .univer-tabs-nav .univer-tabs-nav-wrap .univer-tabs-nav-list {
  position: relative;
  display: flex;
}
.univer-tabs .univer-tabs-nav .univer-tabs-nav-wrap .univer-tabs-nav-list .univer-tabs-tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1em;
  font-size: var(--font-size);
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.univer-tabs .univer-tabs-nav .univer-tabs-nav-wrap .univer-tabs-nav-list .univer-tabs-tab:hover,
.univer-tabs .univer-tabs-nav .univer-tabs-nav-wrap .univer-tabs-nav-list .univer-tabs-tab-active {
  color: var(--primary-color);
}
.univer-tabs .univer-tabs-content {
  display: flex;
  width: 100%;
}
.univer-tabs .univer-tabs-content .univer-tabs-panel {
  display: none;
  width: 100%;
  outline: none;
}
.univer-tabs .univer-tabs-content .univer-tabs-panel-active {
  display: block;
}
.univer-tabs.univer-tabs-card .univer-tabs-nav .univer-tabs-nav-wrap .univer-tabs-nav-list .univer-tabs-tab {
  margin: 0;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}
.univer-tabs.univer-tabs-card .univer-tabs-nav .univer-tabs-nav-wrap .univer-tabs-nav-list .univer-tabs-tab-active {
  color: var(--primary-color);
  background: var(--bg);
  border-bottom: 1px solid var(--bg);
}

/* temp_stylePlugin:ni:sha-256;8b6v20zMWKdFNaBMiP8ProrzuPjaHY6iIVCZcHUZYzE */
.univer-cols-menu {
  border-radius: 0;
  transition: opacity 218ms;
  background: var(--bg);
  box-shadow: var(--box-shadow-base);
  cursor: default;
  margin: 0;
  outline: 0;
  z-index: 100;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  width: max-content;
  padding: 6px 0;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
}
.univer-cols-menu .univer-cols-menu-jsx {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px;
}
.univer-cols-menu .univer-cols-menuitem {
  min-width: 80px;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
  list-style: none;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}
.univer-cols-menu .univer-cols-menuitem .univer-line {
  margin: 4px 0 5px 0;
  height: 1px;
  width: 100%;
  background-color: #ececec;
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content {
  padding: 5px 14px 5px 10px;
  display: flex;
  align-items: center;
  line-height: 1.2;
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content:hover {
  background-color: #efefef;
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content .univer-ul-icon {
  margin-right: 3px;
  width: 15px;
  display: inline-block;
  transform: scale(1.5);
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content > div .univer-submenu-arrow {
  transition: all 218ms;
  font-size: 12px;
  padding-right: 0;
  opacity: 0.5;
  color: var(--text-color);
  user-select: none;
  margin-left: 2em;
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content > div .univer-submenu-arrow span[role=img].univer-icon-rightIcon {
  font-size: 16px;
  transform: none;
}
.univer-cols-menu .univer-cols-menuitem .univer-cols-menuitem-content > div .univer-submenu-arrow span[role=img] {
  font-size: 12px;
  transform: scale(2);
}

/* temp_stylePlugin:ni:sha-256;MiU2nQLSsF77gX59GboPUcMdjvi_k01M5vwixn8KRQY */
.univer-select-item {
  padding: 0 14px 0 25px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.univer-select-item .univer-select-item-selected {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
}
.univer-select-item .univer-select-item-content {
  display: block;
}
.univer-select-item .univer-select-item-suffix {
  margin-left: 10px;
}
.univer-select-item .univer-select-item-suffix span[role=img] {
  font-size: 24px;
}
.univer-select-disabled-item {
  pointer-events: none;
  color: var(--gray-15);
}

/* temp_stylePlugin:ni:sha-256;OXOKo4XGmddPoWfhCeEYLM2rdQy2n1yvY40HKJbs8is */
.univer-select-component {
  position: relative;
  margin: 0 3px;
  height: 26px;
}
.univer-select-component:hover {
  background-color: var(--gray-14);
}
.univer-select-component .univer-select-button {
  padding: 0px 5px;
}
.univer-select-component .univer-select-button span[role=img] {
  font-size: 24px;
}
.univer-select-component .univer-select-single {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.univer-select-component .univer-select-single:hover {
  background: var(--bg-hover);
}
.univer-select-component .univer-select-input {
  display: flex;
  align-items: center;
}
.univer-select-component .univer-select-input:hover {
  background: var(--bg-hover);
}
.univer-select-component .univer-select-input input {
  width: 38px;
  height: 20px;
  background: transparent;
  border: 1px solid transparent;
}
.univer-select-component .univer-select-input input::-webkit-outer-spin-button,
.univer-select-component .univer-select-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.univer-select-component .univer-select-input input[type=number] {
  -moz-appearance: textfield;
}
.univer-select-component .univer-select-input input:hover {
  border: 1px solid transparent;
}
.univer-select-component .univer-select-input input:focus {
  background: #fff;
  border: 1px solid var(--primary-color-hover);
}
.univer-select-component .univer-select-double:hover {
  background: var(--bg-hover);
}
.univer-select-component .univer-select-double .univer-dropdown {
  height: 24px;
  padding-right: 0;
}
.univer-select-component .univer-select-double .univer-drop-content {
  position: relative;
}
.univer-select-component .univer-select-double .univer-drop-content .univer-select-line {
  position: absolute;
  width: 15px;
  height: 5px;
  background-color: #000;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.univer-select-component .univer-select-double .univer-drop-icon {
  border-left: 1px solid transparent;
}
.univer-select-component .univer-select-double:hover .univer-drop-icon {
  border-left: 1px solid var(--gray-6);
}
.univer-select-component .univer-select-label span[role=img] {
  font-size: 24px;
}
.univer-select-component button {
  padding: 0px;
  box-sizing: border-box;
  border-color: transparent;
  height: auto;
}

/* temp_stylePlugin:ni:sha-256;8qLapwJN-j7Or3-slMPQEIFoRQ2UAjNyDmKIIhwhjzg */

/* temp_stylePlugin:ni:sha-256;xJUfvu1cgn_QPZuuheikfolDlr14NkWnqnAsOjw_RFQ */
.univer-layout-container {
  background-color: var(--bg);
  color: var(--text-color);
  height: 100%;
}
.univer-layout-container .univer-content-container-horizontal {
  display: flex;
  min-height: 14em;
  position: relative;
}
.univer-layout-container .univer-content-container-horizontal .univer-content-inner-left-container {
  width: 50%;
  padding-right: 10px;
  flex: none;
}
.univer-layout-container .univer-content-container-horizontal .univer-content-inner-left-container .univer-hover-cursor {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: gray;
  cursor: e-resize;
}
.univer-layout-container .univer-content-container-horizontal .univer-content-inner-right-container {
  width: 50%;
  flex: 1;
}
.univer-layout-container .univer-content-container-vertical {
  display: flex;
  flex-direction: column;
  min-height: 14em;
  position: relative;
}
.univer-layout-container .univer-content-container-vertical .univer-content-inner-left-container {
  height: 50%;
  padding-bottom: 10px;
  flex: none;
}
.univer-layout-container .univer-content-container-vertical .univer-content-inner-left-container .univer-hover-cursor {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: gray;
  cursor: n-resize;
}
.univer-layout-container .univer-content-container-vertical .univer-content-inner-right-container {
  height: 50%;
  flex: 1;
}
.univer-layout-container .univer-main-content {
  background: var(--bg);
}
.univer-layout-container .univer-outer-right-container {
  flex: 0 0 280px;
}
.univer-layout-container .univer-outer-right-container > div {
  position: absolute;
  width: 100%;
}

/* temp_stylePlugin:ni:sha-256;ar_CL5Zb6iJCVnQ-0QIngu-FP3OFbVLxbANec1WEudU */
.univer-info-detail {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0 17px;
  height: 56px;
  display: flex;
  align-items: center;
  background: var(--bg);
  box-shadow: 0 -1px 0 0 var(--gray-16);
  border-bottom: 1px solid var(--border-color-base);
}
.univer-info-detail .univer-info-return {
  font-size: 16px;
  padding: 0 5px;
  font-size: 14px;
}
.univer-info-detail .univer-univericon.univer-univericon-logo {
  margin-left: 18px;
}
.univer-info-detail .univer-univericon.univer-univericon-logo svg {
  width: 100%;
  height: 100%;
}
.univer-info-detail .univer-sheet-name {
  margin: 0 auto;
}
.univer-info-detail .univer-info-detail-update {
  color: var(--gray-17);
  font-size: 12px;
  margin-left: 15px;
}
.univer-info-detail .univer-info-detail-save {
  color: var(--gray-7);
  font-size: 12px;
  margin: 0 5px;
}

/* temp_stylePlugin:ni:sha-256;62gCJrvsnYaamE5804IUK-t5fW8WBIWcGY5qbJhZxv4 */
.univer-context-menu {
  position: fixed;
  left: 0;
  top: 26px;
  background-color: var(--bg);
  box-shadow: var(--box-shadow-base);
  z-index: 100;
}
.univer-context-menu .univer-cols-menu .univer-cols-menuitem {
  text-align: left;
  padding: 6px 25px 6px 25px;
}
.univer-context-menu .univer-cols-menu .univer-cols-menuitem input {
  width: 40px;
  height: 20px;
  text-align: center;
  margin: 0 3px;
  padding: 0;
}
.univer-context-menu .univer-cols-menu .univer-cols-menuitem button {
  margin-left: 5px;
  padding: 2px 3px;
  line-height: 12px;
  font-size: 12px;
}
.univer-context-menu .univer-cols-menu .univer-cols-menuitem .univer-btn {
  height: auto;
}
.univer-context-menu .univer-cols-menu .univer-cols-menuitem .univer-right-menu-center {
  min-width: auto;
}
.univer-context-menu .univer-right-menu-item {
  position: relative;
}
.univer-context-menu .univer-right-menu-item span {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

/* temp_stylePlugin:ni:sha-256;43UwwBrmjbch0PokRLpa5Yv0vRWZZPP2mTz5aEBASAY */
.univer-count-bar {
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid var(--border-color-base);
  background-color: var(--bg);
  font-size: 12px;
}
.univer-count-bar .univer-btn {
  height: auto;
  padding: 0;
}
.univer-count-bar svg {
  font-size: 21px;
}
.univer-count-bar .univer-count-zoom {
  width: 35px;
}
.univer-count-bar .univer-count-slider {
  width: 100px;
}
.univer-count-bar .univer-count-statistic {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

/* temp_stylePlugin:ni:sha-256;8L6Z_zO2kk-x-OdJMTjJV2iHYBsSdtf6YgvVoIpy6Js */
.univer-sheet-bar {
  position: relative;
  height: 31px;
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
}
.univer-sheet-bar-options {
  border-right: 1px solid var(--border-color-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5px;
}
.univer-sheet-bar-options-button {
  padding: 0;
  margin: 0;
  border: none;
  height: initial;
  line-height: initial;
  padding-right: 2px;
}
.univer-sheet_bar_scroll_button {
  border: none;
  border-left: 1px solid var(--border-color-base);
  padding-left: 5px;
}
.univer-slide-tab-bar {
  user-select: none;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.univer-slide-tab-bar::-webkit-scrollbar {
  display: none;
}
.univer-slide-tab-active {
  position: relative;
}
.univer-slide-tab-item {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  background-color: var(--bg);
}
.univer-slide-tab-item:first-child .univer-slide-tab-divider {
  opacity: 0;
}
.univer-slide-tab-item:hover {
  background: #efefef;
}
.univer-slide-tab-item:hover .univer-slide-tab-divider {
  opacity: 0;
}
.univer-slide-tab-item:hover + .univer-slide-tab-item .univer-slide-tab-divider {
  opacity: 0;
}
.univer-slide-tab-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.univer-slide-tab-title {
  font-size: 14px;
  color: #676464;
  margin-right: 3px;
  margin-left: 6px;
}
.univer-slide-tab-icon {
  width: 16px;
  height: 16px;
  font-size: 15px;
  color: #a1a1a1;
  margin-right: 6px;
}
.univer-slide-tab-divider {
  width: 1px;
  height: 16px;
  background: var(--border-color-base);
}
.univer-slide-tab-active .univer-slide-tab-content {
  background: #efefef;
  color: #222;
}
.univer-slide-tab-active .univer-slide-tab-divider {
  opacity: 0;
}
.univer-slide-tab-active + .univer-slide-tab-item .univer-slide-tab-divider {
  opacity: 0;
}
.univer-slide-tab-footer {
  height: auto;
  width: 100%;
  flex-grow: 0;
}
.univer-slide-tab-active-bar {
  height: 2px;
  width: 100%;
}
.univer-slide-tab-active .univer-slide-tab-active-bar {
  background: #d0d0d0;
}
.univer-sheet-ul .univer-cols-menuitem {
  text-align: left;
  padding: 5px 5px 5px 25px;
}
.univer-sheet-ul .univer-select-color-picker-parent .univer-select-item-content {
  width: 100%;
}
.univer-sheet-ul .univer-select-color-picker-parent ul {
  padding: 0;
}
.univer-sheet-ul .univer-select-color-picker-parent .univer-select-color-picker {
  padding: 0;
}
.univer-sheet-ul .univer-select-color-picker-parent .univer-select-color-picker .univer-select-item {
  padding: 0;
}
.univer-sheet-bar-menu {
  position: absolute;
  bottom: 120%;
  left: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  transition: opacity 218ms;
  background: var(--bg);
  margin: 0;
  outline: 0;
  z-index: 100;
  box-sizing: border-box;
  user-select: none;
}
.univer-sheet-bar-menu li {
  list-style: none;
}
.univer-sheet-bar-menu .univer-sheet-bar-menu-item {
  position: relative;
  padding: 5px 10px 5px 20px;
}
.univer-sheet-bar-menu .univer-sheet-bar-menu-item .univer-sheet-bar-menu-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.univer-sheet-bar-menu .univer-sheet-bar-menu-item-hide {
  pointer-events: none;
  color: #eee;
}

/* temp_stylePlugin:ni:sha-256;_SzPcKya9RAXKtjBop4Kz1LOd88aa4Ohyrnjd7Ayx6A */
.univer-formula-box {
  display: flex;
  background: var(--bg);
  border-bottom: 1px solid var(--border-color-base);
  height: 28px;
  line-height: 28px;
}
.univer-formula-box .univer-select-button .univer-tooltip-Group .univer-tooltip-body {
  display: flex;
}
.univer-formula-box .univer-select-button .univer-tooltip-Group .univer-tooltip-body input {
  width: 85px;
  height: 28px;
}
.univer-formula-box .univer-select-button .univer-tooltip-Group .univer-tooltip-body svg {
  vertical-align: text-bottom;
}
.univer-formula-box .univer-formula-bar {
  width: 100%;
  display: flex;
}
.univer-formula-box .univer-formula-bar .univer-formula-icon {
  display: flex;
  border: 1px solid var(--gray-15);
  border-top: none;
  border-bottom: none;
}
.univer-formula-box .univer-formula-bar .univer-formula-icon span[role=img] {
  font-size: 24px;
}
.univer-formula-box .univer-formula-bar .univer-formula-icon .univer-formula-grey {
  color: var(--gray-5);
}
.univer-formula-box .univer-formula-bar .univer-formula-icon .univer-formula-black {
  color: var(--text-color);
}
.univer-formula-box .univer-formula-bar .univer-formula-input {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}
.univer-formula-box .univer-formula-bar .univer-formula-input .univer-formula-content {
  outline: none;
  word-wrap: break-word;
}

/* temp_stylePlugin:ni:sha-256;JM7mjahMHpKvxiqo7y8XYeXanAZkqW7chLEJ_cI7EVE */
.univer-rich-text-editor-container {
  position: absolute;
  z-index: 1;
  border: 2px #5292f7 solid;
  background-color: #ffffff;
  padding: 0px 2px;
  right: auto;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  font-family: "Times New Roman";
  font-size: 11pt;
  color: #333333;
  text-align: left;
  resize: none;
  white-space: pre-wrap;
  outline: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  word-wrap: break-word;
}
.univer-rich-text-editor-container .univer-rich-text-editor {
  width: 100%;
  margin: 0;
  outline: 0;
  cursor: text;
  white-space: pre-wrap;
}
.univer-rich-text-editor-container .univer-rich-text-editor .univer-formula-text-color {
  color: black;
}
.univer-rich-text-editor-container .univer-rich-text-editor .univer-formula-text-string {
  color: forestgreen;
}

/* temp_stylePlugin:ni:sha-256;1cvBd8qtMrHlLAObfD8oCenmMHEupGbs5NNK9qdITFM */
.univer-toolbar-warp {
  max-height: fit-content;
  width: 100%;
  overflow: unset;
  box-sizing: border-box;
  font-size: var(--font-size);
  background-color: var(--bg);
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color-base);
}
.univer-toolbar-warp .univer-single-button.univer-more-hide {
  display: none;
}
.univer-toolbar-warp .univer-single-button.univer-more-show {
  display: block;
}
.univer-toolbar {
  max-width: 100%;
  color: var(--text-color);
  padding: 0 15px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.univer-toolbar > div {
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  cursor: pointer;
}
.univer-toolbar > div.univer-select-button:hover {
  background-color: #efefef;
}
.univer-toolbar .univer-cols-menu {
  overflow-y: auto;
}
.univer-toolbar .univer-select-label-string .univer-drop-content > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}
.univer-toolbar .univer-select-double-string .univer-drop-content > div {
  width: 24px;
}
.univer-toolbar .univer-select-color-picker-parent .univer-select-item-content {
  width: 100%;
}
.univer-toolbar .univer-select-color-picker-parent ul {
  padding: 0;
}
.univer-toolbar .univer-select-color-picker-parent .univer-select-color-picker {
  padding: 0;
}
.univer-toolbar .univer-select-color-picker-parent .univer-select-color-picker .univer-select-item {
  padding: 0;
}
.univer-toolbar .univer-select-line-bold-parent .univer-select-item-content {
  width: 100%;
}
.univer-toolbar .univer-select-single {
  height: 26px;
  line-height: 26px;
}
.univer-toolbar .univer-select-input {
  height: 26px;
  line-height: 26px;
}
.univer-toolbar .univer-select-double {
  height: 26px;
  line-height: 26px;
}
.univer-toolbar button {
  padding: 0;
  height: 26px;
}
.univer-toolbar span[role=img].univer-univericon-nextIcon {
  font-size: 12px;
}
.univer-toolbar .univer-text-button span[role=img] {
  font-size: 24px;
}
.univer-toolbar .univer-text-button button {
  padding: 0 5px;
}
.univer-more-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  line-height: 1;
}
.univer-more-button.univer-more-show {
  display: block;
}
.univer-more-tool {
  padding: 0 10px;
  background-color: var(--bg);
  box-shadow: var(--box-shadow-base);
  position: absolute;
  right: 2em;
  top: 40px;
  z-index: 100;
}
.univer-more-tool.univer-more-show {
  display: flex;
}
.univer-more-tool button {
  padding: 0px;
  line-height: 1;
}
.univer-tooltip-title {
  display: none;
}
.univer-bottom {
  display: none;
}

/* temp_stylePlugin:ni:sha-256;ARjl8PfO3QFi_4SjZakc6XdLtYeLjreAauSKeoZsJT4 */
.univer-color-select {
  position: relative;
}
.univer-color-select .univer-color-select-line {
  position: absolute;
  width: 15px;
  height: 5px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* temp_stylePlugin:ni:sha-256;HrLFkqX06B17iTvVzhPXGP9j5tRDwfJOjukq09d7H5k */
.univer-function-modal {
  font-size: 14px;
}
.univer-function-modal > div {
  margin-bottom: 10px;
}
.univer-function-modal .univer-function-search input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.univer-function-modal .univer-function-select {
  display: flex;
  align-items: center;
}
.univer-function-modal .univer-function-select .univer-function-label {
  margin-bottom: 0;
}
.univer-function-modal .univer-function-select .univer-function-selector {
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
}
.univer-function-modal .univer-function-select .univer-function-selector .univer-select-button {
  margin: 0;
}
.univer-function-modal .univer-function-list .univer-function-lists {
  width: 100%;
  height: 170px;
  border: 1px solid #d4d4d4;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.univer-function-modal .univer-function-list .univer-function-lists .univer-function-lists-item {
  padding: 5px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
  list-style: none;
}
.univer-function-modal .univer-function-list .univer-function-lists .univer-function-lists-item-active {
  background-color: var(--primary-color);
  color: #fff;
}
.univer-function-modal .univer-function-list .univer-function-lists .univer-function-lists-item:hover {
  background-color: var(--primary-color-hover);
  color: #fff;
}
.univer-function-modal .univer-function-label {
  margin-right: 10px;
  margin-bottom: 10px;
}
.univer-function-param-modal .univer-function-param-list {
  border: 1px solid;
  padding: 0.5 em;
}
.univer-function-param-modal .univer-function-param-list > div {
  display: flex;
  padding: 5px 0;
}
.univer-function-param-modal .univer-function-param-list > div > span {
  flex: 1;
}
.univer-function-param-modal .univer-function-param-list > div > span:first-child {
  text-align: right;
}
.univer-function-param-modal .univer-function-param-list > div input {
  flex: 1;
}
.univer-function-param-modal .univer-function-param-desc {
  margin: 1em 0;
}
.univer-function-param-modal .univer-function-param-desc .univer-function-param-desc-details {
  padding: 10px;
  height: 100px;
  overflow: auto;
  margin-top: 1em;
  box-sizing: border-box;
  font-size: 12px;
}
.univer-function-btn .univer-btn {
  padding: 5px;
  line-height: 1;
  font-size: 14px;
}

/* temp_stylePlugin:ni:sha-256;tCqbZLhm8taYHmQ49-YArjwP98CMefosPbEiSJQuHkY */
.univer-search-function {
  background-color: var(--bg);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  z-index: 1003;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.univer-search-function > li {
  padding: 5px 10px;
}
.univer-search-function .univer-formula-detail {
  display: none;
}
.univer-search-function .univer-search-function-active {
  background-color: var(--bg-hover);
}
.univer-search-function .univer-search-function-active .univer-formula-detail {
  display: block;
}
.univer-help-function {
  background-color: var(--bg);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  z-index: 1003;
  width: 300px;
}
.univer-help-function .univer-help-function-title {
  padding: 5px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ebebeb;
}
.univer-help-function .univer-help-function-content {
  max-height: 300px;
  overflow-y: scroll;
  padding: 1px 15px;
}
.univer-help-function .univer-help-function-content .univer-help-function-content-params {
  margin: 15px 0;
}
.univer-help-function .univer-help-function-content .univer-help-function-content-params .univer-help-function-content-title {
  color: #666;
}
.univer-help-function .univer-help-function-content .univer-help-function-content-params .univer-help-function-content-detail {
  font-size: 12px;
}
.univer-help-function .univer-help-function-active {
  background-color: #fff9b2;
}
