# CODEOWNERS

## project

.github @jikkai @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @jikkai

CONTRIBUTING.md @jikkai

## core & fundamental

packages/core @jikkai
packages/core/src/services/resource-loader @VicKun4937
packages/core/src/services/resource-manager @VicKun4937
packages/core/src/services/permission @VicKun4937
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wpxp123456
packages/engine-render @Jocs
packages/engine-render/components/docs @Jocs
packages/find-replace @siam-ese
packages/network @jikkai
packages/rpc @jikkai
packages/rpc-node @jikkai
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @jikkai
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @VicKun4937
packages/sheets-conditional-formatting @VicKun4937
packages/sheets-conditional-formatting-ui @VicKun4937
packages/sheets-filter @ybzky
packages/sheets-filter-ui @ybzky
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wpxp123456 @Dushusir
packages/sheets-formula-ui @DR-Univer @wpxp123456 @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @VicKun4937
packages/sheets-numfmt-ui @VicKun4937
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai
packages/sheets-ui/src/controllers/clipboard @ybzky
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @ybzky
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @VicKun4937
packages/sheets/src/services/ref-range @VicKun4937
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @VicKun4937

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @ybzky
