# project
.github @jikkai
docs @wzhudev

# core
packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound

# basics
packages/design @jikkai
packages/engine-formula @DR-Univer
packages/engine-numfmt @Gggpound
packages/engine-render @DR-Univer @lumixraku
packages/find-replace @siam-ese
packages/image @DR-Univer
packages/network @wzhudev
packages/rpc @wzhudev
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev

# facade
packages/facade @dushusir @hexf00

# business - docs
packages/docs @DR-Univer @Jocs
packages/docs-ui @jikkai @Jocs

# business - sheets
packages/sheets @wzhudev @DR-Univer
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound
## find-replace
packages/sheets-find-replace @siam-ese
## number-format
packages/sheets-numfmt @Gggpound
## formula
packages/sheets-formula @DR-Univer @Dushusir
## conditional-formatting
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
## data validation
packages/data-validation @weird94
packages/sheet-data-validation @weird94
## filter
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
## misc
packages/sheets-zen-editor @Jocs

# business - slides
packages/slides @DR-Univer @jikkai
packages/slides-ui @jikkai
