.function-modal {
  font-size: 14px;
}
.function-modal > div {
  margin-bottom: 10px;
}
.function-modal .function-search input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.function-modal .function-select {
  display: flex;
  align-items: center;
}
.function-modal .function-select .function-label {
  margin-bottom: 0;
}
.function-modal .function-select .function-selector {
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
}
.function-modal .function-select .function-selector .select-button {
  margin: 0;
}
.function-modal .function-list .function-lists {
  width: 100%;
  height: 170px;
  border: 1px solid #d4d4d4;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.function-modal .function-list .function-lists .function-lists-item {
  padding: 5px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
  list-style: none;
}
.function-modal .function-list .function-lists .function-lists-item-active {
  background-color: var(--primary-color);
  color: #fff;
}
.function-modal .function-list .function-lists .function-lists-item:hover {
  background-color: var(--primary-color-hover);
  color: #fff;
}
.function-modal .function-label {
  margin-right: 10px;
  margin-bottom: 10px;
}
.function-param-modal .function-param-list {
  border: 1px solid;
  padding: 0.5 em;
}
.function-param-modal .function-param-list > div {
  display: flex;
  padding: 5px 0;
}
.function-param-modal .function-param-list > div > span {
  flex: 1;
}
.function-param-modal .function-param-list > div > span:first-child {
  text-align: right;
}
.function-param-modal .function-param-list > div input {
  flex: 1;
}
.function-param-modal .function-param-desc {
  margin: 1em 0;
}
.function-param-modal .function-param-desc .function-param-desc-details {
  padding: 10px;
  height: 100px;
  overflow: auto;
  margin-top: 1em;
  box-sizing: border-box;
  font-size: 12px;
}
.function-btn .btn {
  padding: 5px;
  line-height: 1;
  font-size: 14px;
}
