.function-modal {
    font-size: 14px;

    >div {
        margin-bottom: 10px;
    }

    .function-search {
        input {
            width: 100%;
            height: 24px;
            line-height: 24px;
            border: 1px solid #d4d4d4;
            padding: 0 10px;
            box-sizing: border-box;
            font-size: 12px;
        }
    }

    .function-select {
        display: flex;
        align-items: center;

        .function-label {
            margin-bottom: 0;
        }

        .function-selector {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius-base);

            .select-component {
                height: auto;
                margin: 0;
            }

            .select-button {
                margin: 0;
            }
        }
    }

    .function-list {
        .function-lists {
            width: 100%;
            height: 170px;
            border: 1px solid #d4d4d4;
            overflow-y: auto;
            margin: 0;
            padding: 0;

            .function-lists-item {
                padding: 5px;
                border-bottom: 1px solid #d4d4d4;
                cursor: pointer;
                list-style: none;

                .function-lists-item-name {}

                .function-lists-item-detail {}

                &-active {
                    background-color: var(--primary-color);
                    color: #fff;
                }

                &:hover {
                    background-color: var(--primary-color-hover);
                    color: #fff;
                }
            }
        }
    }

    .function-label {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.function-param-modal {
    .function-param-list {
        border: 1px solid;
        padding: 0.5 em;

        >div {
            display: flex;
            padding: 5px 0;

            >span {
                flex: 1;

                &:first-child {
                    text-align: right;
                }
            }

            input {
                flex: 1;
            }
        }
    }

    .function-param-desc {
        margin: 1em 0;

        .function-param-desc-detail {}

        .function-param-desc-details {
            padding: 10px;
            height: 100px;
            overflow: auto;
            margin-top: 1em;
            box-sizing: border-box;
            font-size: 12px;
        }
    }

    .function-param-result {}
}

.function-btn {
    .btn {
        padding: 5px;
        line-height: 1;
        font-size: 14px;
    }
}