.sheet-bar {
    position: relative;
    height: 31px;
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    flex: 1;
    width: calc(100% - 350px);
}

.sheet-bar-options {
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
}

.sheet-bar-options-button {
    padding: 0;
    margin: 0;
    border: none;
    height: initial;
    line-height: initial;
    padding-right: 2px;
}

.sheet-bar-scroll-button {
    border: none;
    border-left: 1px solid var(--border-color);
    padding-left: 5px;
}
