.menu {
    &-item {
        &-no-hover {
            background: none;
        }

        &-content {
            display: inline-flex;
            gap: var(--margin-xs);
            align-items: center;
        }

        &-more-icon {
            font-size: var(--font-size-sm);
            color: rgb(var(--text-color));
        }
    }
}
