.univer-menu {
    @apply univer-max-w-fit;
    @apply univer-m-0 univer-py-1 univer-px-2 univer-text-sm univer-list-none univer-rounded-md univer-box-border univer-shadow-md univer-border-solid univer-border univer-border-gray-200 univer-min-w-52 univer-w-fit univer-bg-white;
}
.univer-dark .univer-menu {
    @apply univer-bg-gray-700 univer-border-gray-600;
}

.univer-menu-vertical {
    display: grid;
}

.univer-menu-hidden,
.univer-menu-submenu-hidden {
    display: none;
}

.univer-menu-item-group {
    @apply univer-py-1;
}

.univer-menu-item-group:not(:last-child) {
    border-bottom: 1px solid #e3e5ea;
}
.univer-dark .univer-menu-item-group:not(:last-child) {
    @apply univer-border-b-gray-600;
}

.univer-menu-item-group-list {
    display: grid;
    margin: 0;
    padding: 0;
    @apply univer-gap-1;
}

.univer-menu-item-group-title {
    font-weight: 600;
    line-height: 1.5em;
    padding: 4px;
    padding-top: 6px;
    @apply univer-text-gray-600 univer-text-xs univer-px-2;
}
.univer-dark .univer-menu-item-group-title {
    @apply univer-text-white;
}

.univer-menu-item-group-title:empty {
    display: none;
}

.univer-menu-item-active,
.univer-menu-submenu-active {
    @apply univer-bg-gray-50 univer-rounded-md;
}
.univer-dark .univer-menu-item-active,
.univer-dark .univer-menu-submenu-active {
    @apply univer-bg-gray-600;
}

.univer-menu-item-selected {
    transform: translateZ(0);
    @apply univer-bg-gray-50 univer-rounded-md;
}
.univer-dark .univer-menu-item-selected {
    @apply univer-bg-gray-600;
}

.univer-menu-submenu-selected {
    @apply univer-bg-gray-50 univer-rounded-md;
}
.univer-dark .univer-menu-submenu-selected {
    @apply univer-bg-gray-600;
}

.univer-menu > li.univer-menu-submenu {
    padding: 0;
}

.univer-menu-horizontal-sub,
.univer-menu-vertical-sub,
.univer-menu-vertical-left-sub,
.univer-menu-vertical-right-sub {
    min-width: 160px;
    margin-top: 0;
}

.univer-menu-item {
    display: flex;
    align-items: center;
    min-height: 32px;
    line-height: 1.5em;
    @apply univer-rounded-md univer-text-sm univer-text-gray-900 univer-px-2 univer-gap-3;
}
.univer-dark .univer-menu-item {
    @apply univer-text-white;
}

.univer-menu-item:hover {
    @apply univer-bg-gray-50;
}
.univer-dark .univer-menu-item:hover {
    @apply univer-bg-gray-600;
}

.univer-menu-item .icon {
    @apply univer-text-gray-600;
}
.univer-dark .univer-menu-item .icon {
    @apply univer-text-white;
}

.univer-menu-item,
.univer-menu-submenu {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    white-space: nowrap;
    list-style: none;
}

.univer-menu-item.univer-menu-item-disabled,
.univer-menu-submenu.univer-menu-submenu-disabled {
    cursor: not-allowed;
    @apply !univer-text-gray-400;
}

.univer-menu-submenu-popup {
    position: absolute;
    z-index: 1070;
}

.univer-menu-submenu-popup .submenu-title-wrapper {
    @apply univer-pr-5;
}

.univer-menu-submenu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 32px;
    line-height: 1.5em;
    @apply univer-text-gray-900 univer-text-sm univer-px-2;
}
.univer-dark .univer-menu-submenu-title {
    @apply univer-text-white;
}

.univer-menu-submenu-title-more-icon,
.univer-menu-item-more-icon {
    @apply univer-text-gray-400 univer-text-sm univer-ml-2;
}

.univer-menu-horizontal {
    overflow: hidden;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    @apply univer-border-b-gray-200;
}
.univer-dark .univer-menu-horizontal {
    @apply univer-border-b-gray-600;
}

.univer-menu-horizontal > .univer-menu-item,
.univer-menu-horizontal > .univer-menu-submenu > .univer-menu-submenu-title {
    padding: 15px 20px;
}

.univer-menu-horizontal > .univer-menu-submenu,
.univer-menu-horizontal > .univer-menu-item {
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 2px solid transparent;
}

.univer-menu-vertical,
.univer-menu-vertical-left,
.univer-menu-vertical-right,
.univer-menu-inline {
    width: 100%;
}

.univer-menu-vertical > .univer-menu-item,
.univer-menu-vertical > .univer-menu-submenu > .univer-menu-submenu-title,
.univer-menu-vertical-left > .univer-menu-item,
.univer-menu-vertical-left > .univer-menu-submenu > .univer-menu-submenu-title,
.univer-menu-vertical-right > .univer-menu-item,
.univer-menu-vertical-right > .univer-menu-submenu > .univer-menu-submenu-title,
.univer-menu-inline > .univer-menu-item,
.univer-menu-inline > .univer-menu-submenu > .univer-menu-submenu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    min-height: 28px;
    @apply univer-p-1;
}

.univer-menu-vertical .univer-menu-submenu-arrow,
.univer-menu-vertical-left .univer-menu-submenu-arrow,
.univer-menu-vertical-right .univer-menu-submenu-arrow,
.univer-menu-inline .univer-menu-submenu-arrow {
    position: absolute;
    right: 16px;
    display: inline-block;
    font-size: inherit;
    line-height: 1.5em;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    vertical-align: baseline;
}

.univer-menu-sub-inline {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.univer-menu-sub-inline > .univer-menu-item,
.univer-menu-sub-inline > .univer-menu-submenu > .univer-menu-submenu-title {
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 8px;
}

.univer-menu-open-slide-up-enter,
.univer-menu-open-slide-up-appear {
    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    transform-origin: 0 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.univer-menu-open-slide-up-leave {
    opacity: 1;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transform-origin: 0 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.univer-menu-open-slide-up-enter.univer-menu-open-slide-up-enter-active,
.univer-menu-open-slide-up-appear.univer-menu-open-slide-up-appear-active {
    animation-name: menu-open-slide-up-in;
    animation-play-state: running;
}

.univer-menu-open-slide-up-leave.univer-menu-open-slide-up-leave-active {
    animation-name: menu-open-slide-up-out;
    animation-play-state: running;
}

@keyframes menu-open-slide-up-in {
    0% {
        transform-origin: 0% 0%;
        transform: scaleY(0);
        opacity: 0;
    }

    100% {
        transform-origin: 0% 0%;
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes menu-open-slide-up-out {
    0% {
        transform-origin: 0% 0%;
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform-origin: 0% 0%;
        transform: scaleY(0);
        opacity: 0;
    }
}

.univer-menu-open-zoom-enter,
.univer-menu-open-zoom-appear {
    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    transform-origin: 0 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.univer-menu-open-zoom-leave {
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    transform-origin: 0 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.univer-menu-open-zoom-enter.univer-menu-open-zoom-enter-active,
.univer-menu-open-zoom-appear.univer-menu-open-zoom-appear-active {
    animation-name: menu-open-zoom-in;
    animation-play-state: running;
}

.univer-menu-open-zoom-leave.univer-menu-open-zoom-leave-active {
    animation-name: menu-open-zoom-out;
    animation-play-state: running;
}

@keyframes menu-open-zoom-in {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes menu-open-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}
