@import '../../Basics/CSS/triangle.less';
@import '../../Basics/CSS/Skin/default.module.less';

@tooltip-color: @color-white;
@tooltip-bg: @color-black;

//** Tooltip arrow width
@tooltip-arrow-width: 5px;
//** Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;

// Base class
.tooltip {
    position: absolute;
    z-index: 4;
    display: block;
    visibility: visible;
    font-size: @font-size-base;

    &-hidden {
        display: none;
    }

    &-placement-top {
        padding: @tooltip-arrow-width 0;
    }
    &-placement-right {
        padding: 0 @tooltip-arrow-width;
    }
    &-placement-bottom {
        padding: @tooltip-arrow-width;
    }
    &-placement-left {
        padding: 0 @tooltip-arrow-width;
    }

    &-placement-top &-arrow,
    &-placement-topLeft &-arrow,
    &-placement-topRight &-arrow {
        bottom: 0;
        margin-left: -@tooltip-arrow-width;
        border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
        border-top-color: @tooltip-arrow-color;
    }

    &-placement-top &-arrow {
        left: 50%;
    }

    &-placement-right &-arrow {
        left: 0;
        margin-top: -@tooltip-arrow-width;
        border-width: @tooltip-arrow-width @tooltip-arrow-width @tooltip-arrow-width 0;
        border-right-color: @tooltip-arrow-color;
    }

    &-placement-right &-arrow {
        top: 50%;
    }

    &-placement-left &-arrow {
        right: 0;
        margin-top: -@tooltip-arrow-width;
        border-width: @tooltip-arrow-width 0 @tooltip-arrow-width @tooltip-arrow-width;
        border-left-color: @tooltip-arrow-color;
    }

    &-placement-left &-arrow {
        top: 50%;
    }

    &-placement-bottom &-arrow {
        top: 0;
        margin-left: -@tooltip-arrow-width;
        border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
        border-bottom-color: @tooltip-arrow-color;
    }

    &-placement-bottom &-arrow {
        left: 50%;
    }

    // Wrapper for the tooltip content
    &-inner {
        padding: @padding-xs @padding-base;
        color: @tooltip-color;
        text-align: left;
        text-decoration: none;
        background-color: @tooltip-bg;
        border-radius: @border-radius-base;
    }

    // Arrows
    &-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
}
