.progress-bar {
    position: absolute;
    top: 12px;
    right: 22px;

    width: 20%;
    height: 4px;
    background-color: rgb(var(--border-color));
    border-radius: 8px;

    &-inner {
        height: 4px;
        border-radius: 8px;
        transition: width 0.5s;
    }
}
