@height: 4px;
.progress-bar {
    position: absolute;
    top: 12px;
    right: 22px;

    width: 160px;
    height: @height;
    background-color: rgb(var(--border-color));
    border-radius: var(--border-radius-lg);

    &-inner {
        height: @height;
        border-radius: var(--border-radius-lg);
        transition: width 0.5s;
    }
}
