.editor-container {
    display: flex;
    position: absolute;
    border: 1.5px solid rgb(var(--primary-color));
    box-shadow: none;
    outline: 1.5px solid rgba(var(--primary-color-hover), 0.5);
    z-index: 10;

    left: 100px;
    top: 200px;
    width: 100px;
    height: 50px;

    .editor-input  {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        background: white;
    }
}
