// @import '../../assets/css/skin/base.module.less';
.menu {
    padding: 2px 0;
    .menu-item {
        padding: 5px 5px 5px 0px;

        &:hover {
            background-color: rgba(233, 227, 227, 0.884);
        }
    }
}
