@select-component-height: 28px;

.select-component {
    position: relative;
    height: @select-component-height;
    padding: 0 var(--padding-xs);
    border-radius: var(--border-radius-base);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgb(var(--grey-100));
        border-radius: var(--border-radius-base);
    }

    .select-button {

    }

    .select-single {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select-double {

        .drop-content {
            position: relative;

            .select-line {
                position: absolute;
                width: 15px;
                height: 5px;
                background-color: #000;
                bottom: 0px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }

    .select-label {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xxl);
        gap: var(--margin-xxs);
    }
}

.select-drop-icon {
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(var(--grey-400));
    font-size: 10px;
}
