.select-component {
  position: relative;
  margin: 0 3px;
  height: 26px;
}
.select-component:hover {
  background-color: var(--gray-14);
}
.select-component .select-button {
  padding: 0px 5px;
}
.select-component .select-button span[role='img'] {
  font-size: 24px;
}
.select-component .select-single {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select-component .select-input input {
  width: 38px;
  height: 20px;
  background: transparent;
  border: 1px solid transparent;
}
.select-component .select-input input::-webkit-outer-spin-button,
.select-component .select-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.select-component .select-input input[type='number'] {
  -moz-appearance: textfield;
}
.select-component .select-input input:hover {
  border: 1px solid transparent;
}
.select-component .select-input input:focus {
  background: #fff;
  border: 1px solid var(--primary-color-hover);
}
.select-component .select-color .cols-menu {
  padding: 0;
  border: none;
}
.select-component .select-color .cols-menu .cols-menuitem {
  padding: 0;
}
.select-component .select-color .cols-menu .select-item {
  padding: 0;
}
.select-component .select-double .dropdown {
  height: 24px;
  padding-right: 0;
}
.select-component .select-double .drop-content {
  position: relative;
}
.select-component .select-double .drop-content .select-line {
  position: absolute;
  width: 15px;
  height: 5px;
  background-color: #000;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.select-component .select-double .drop-icon {
  border-left: 1px solid transparent;
}
.select-component .select-double:hover .drop-icon {
  border-left: 1px solid var(--gray-6);
}
.select-component .select-label span[role='img'] {
  font-size: 24px;
}
.select-component button {
  padding: 0px;
  box-sizing: border-box;
  border-color: transparent;
  height: auto;
}
