.univer-popup {
    position: fixed;
    z-index: 1070;
    top: -9999px;
    left: -9999px;
    border-radius: 6px;
    overflow: hidden;
    @apply univer-shadow;
}

.univer-popup-enter {
    transform-origin: 0 0;
    animation-duration: 0.15s;
    animation-fill-mode: both;
    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.univer-popup-enter-active {
    animation-name: popup-slide-up-in;
    animation-play-state: running;
}

.univer-popup-exit {
    transform-origin: 0 0;
    animation-duration: 0.15s;
    animation-fill-mode: both;
    opacity: 1;
    animation-name: popup-slide-up-out;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}

.univer-popup-exit-active {
    display: none;
}

@keyframes popup-slide-up-in {
    0% {
        transform-origin: 0 0;
        transform: scaleY(0);
        opacity: 0;
    }

    100% {
        transform-origin: 0 0;
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes popup-slide-up-out {
    0% {
        transform-origin: 0 0;
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform-origin: 0 0;
        transform: scaleY(0);
        opacity: 0;
    }
}

.univer-popup-mask {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
