.header {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--ifm-heading-color);
}

.h2 {
    font-size: 32px;
    font-weight: normal;
    color: var(--ifm-hero-text-color);
}

.btn {
    display: inline-flex;
    gap: 4px;
    align-items: center;
}

.icon {
    font-size: 20px;
}
