@padding-right:28px;

.sheet-bar-menu {
    padding: var(--padding-lg) var(--padding-base);
    font-size: var(--font-size-xs);
    font-weight: 500;
    background-color: rgb(var(--bg-color-secondary));
    border: 1px solid rgb(var(--border-color));
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-lg);
    box-sizing: border-box;
    display: grid;
    align-items: center;
    gap: var(--margin-xxs);

    li {
        list-style: none;
    }

    &-item {
        display: flex;
        padding: var(--padding-xs) @padding-right var(--padding-xs) var(--padding-xs);
        color: rgb(var(--text-color));
        border-radius: var(--border-radius-base);
        box-sizing: border-box;
        cursor: pointer;
        transition: background .2s;

        &:hover {
            background-color: rgb(var(--bg-color-hover));
        }

        &-icon {
            display: flex;
            color: transparent;
            margin-right: var(--margin-xs);
        }

        &-hide &-icon {
            color: rgb(var(--grey-400));
        }

        &-select &-icon, &-select{
            color: rgb(var(--primary-color));
        }
        
    }
}