
@sheet-bar-max-width: 1515px;
@right-width: 300px;

.sheet-bar {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: row;

    width: calc(100% - @right-width);
    max-width: @sheet-bar-max-width;
    height: 100%;

    background-color: rgb(var(--bg-color));
}

.sheet-bar-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--margin-xxs);
}
