@import '@univerjs/base-ui/src/Basics/CSS/Skin/default.module.less';

@sheet-footer-bar-height: 40px;

:export {
    --sheet-footer-bar-height: unit(@sheet-footer-bar-height);
}

.sheet-container {
    height: @sheet-footer-bar-height;
    padding: 0 @padding-xl;
    border-top: 1px solid rgb(var(--border-color));
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
