.select {
    position: relative;
    display: inline-block;
}

.select-disabled,
.select-disabled input {
    cursor: not-allowed;
}

.select-disabled .select-selector {
    opacity: 0.3;
}

.select-show-arrow.select-loading .select-arrow-icon::after {
    transform: none;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: select-loading-icon 0.5s infinite;
    @apply univer-border-2 univer-border-solid univer-border-gray-200;
}

.select-selection-placeholder {
    pointer-events: none;
    opacity: 0.4;
}

.select-selection-search-input {
    appearance: none;
    @apply univer-text-gray-900 univer-text-sm;
}

.select-selection-search-input::-webkit-search-cancel-button {
    display: none;
    appearance: none;
}

.select-single .select-selector {
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 28px;
    padding: 0 10px;
    transition: all 0.15s;
}

.select-single .select-selection-search {
    width: 100%;
    line-height: 0;
}

.select-single .select-selection-search-input {
    width: 100%;
    height: 100%;
}

.select-single .select-selection-item,
.select-single .select-selection-placeholder {
    pointer-events: none;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 18px 0 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    display: inline-block;
    align-items: center;
    @apply univer-text-sm;
}

.select-single:not(.select-customize-input) .select-selector {
    @apply univer-border univer-border-solid univer-border-gray-200 univer-rounded;
}

.select-single:not(.select-customize-input) .select-selection-search-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.select-multiple .select-selector {
    display: flex;
    flex-wrap: wrap;
    @apply univer-border univer-border-solid univer-border-gray-200 univer-rounded;
}

.select-multiple .select-selection-item {
    flex: none;
    margin-right: 2px;
    padding: 0 8px;
    background: #bbb;
    border-radius: 4px;
}

.select-multiple .select-selection-item-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.select-multiple .select-selection-overflow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.select-multiple .select-selection-overflow-item {
    flex: none;
    max-width: 100%;
}

.select-multiple .select-selection-search {
    position: relative;
    max-width: 100%;
}

.select-multiple .select-selection-search-input,
.select-multiple .select-selection-search-mirror {
    box-sizing: border-box;
    @apply univer-px-2 univer-py-1;
}

.select-multiple .select-selection-search-mirror {
    position: none;
    z-index: 999;
    top: 0;
    left: 0;
    white-space: nowrap;
    visibility: hidden;
}

.select-multiple .select-selection-search-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.select-borderless:not(.select-customize-input) .select-selector {
    border-color: transparent;
}

.select-borderless.select-focused .select-selector,
.select-borderless:hover .select-selector {
    border-color: transparent !important;
}

.select-allow-clear.select-multiple .select-selector {
    padding-right: 20px;
}

.select-allow-clear .select-clear {
    position: absolute;
    top: 0;
    right: 20px;
}

.select-show-arrow.select-multiple .select-selector {
    padding-right: 20px;
}

.select-show-arrow .select-arrow {
    pointer-events: none;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    @apply univer-text-gray-600 univer-text-xs univer-right-3;
}

.select-show-arrow .select-arrow-icon::after {
    content: '';
    transform: translateY(5px);
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    @apply univer-border-t-gray-200;
}

.select-focused .select-selector,
.select:hover .select-selector {
    @apply !univer-border-primary-600;
}

.select-dropdown {
    position: absolute;
    z-index: 1070;
    @apply univer-bg-white univer-border univer-border-solid univer-border-gray-200 univer-rounded univer-shadow;
}

.select-dropdown-hidden {
    display: none;
}

.select-item {
    cursor: pointer;
    @apply univer-py-2 univer-px-3 univer-text-sm;
}

.select-item-group {
    padding: 0;
}

.select-item-group:not(:first-child) {
    @apply univer-border-0 univer-border-t univer-border-t-gray-200 univer-border-solid;
}

.select-item-option {
    position: relative;
    transition: all 0.15s;
}

.select-item-option .select-item-option-state {
    pointer-events: none;
    position: absolute;
    top: 4px;
    right: 0;
}

.select-item-option-active {
    background: #ddd;
}

.select-item-option-disabled {
    @apply univer-text-gray-400;
}

.select-item-empty {
    text-align: center;
    @apply univer-text-gray-400 univer-text-sm univer-py-1;
}

.select-selection__choice-zoom {
    transition: all 0.3s;
}

.select-selection__choice-zoom-appear {
    transform: scale(0.5);
    opacity: 0;
}

.select-selection__choice-zoom-appear-active {
    transform: scale(1);
    opacity: 1;
}

.select-selection__choice-zoom-leave {
    transform: scale(1);
    opacity: 1;
}

.select-selection__choice-zoom-leave-active {
    transform: scale(0.5);
    opacity: 0;
}

.select-dropdown-slide-up-enter,
.select-dropdown-slide-up-appear {
    transform-origin: 0 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.select-dropdown-slide-up-leave {
    transform-origin: 0 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    opacity: 1;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}

@keyframes select-dropdown-slide-up-in {
    0% {
        transform-origin: 0% 0%;
        transform: scaleY(0);
        opacity: 0;
    }

    100% {
        transform-origin: 0% 0%;
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes select-dropdown-slide-up-out {
    0% {
        transform-origin: 0% 0%;
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform-origin: 0% 0%;
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes select-loading-icon {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
