.thread-comment-panel {
    .thread-comment {
        margin-top: 12px;
    }

    &-forms {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12px;
    }

    &-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
        color: rgb(var(--grey-600));
        font-size: 13px;
    }
}
