.cell-link-edit {
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}

.cell-link-edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
