.cf-rule-list {
    .rule-selector {
        color: rgb(var(--text-color-secondary));
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select {
            color: rgb(var(--text-color));
            width: 138px;
            .select-selector {
                border: none;
                padding: 0;
            }
            .select-selection-item {
                top: -2px;
                left: 4px;
            }
            .select-selection-search-input {
                cursor: pointer;
            }
        }
        .btn-list {
            font-size: 16px;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .gap {
                margin-left: 8px;
            }
            .icon {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px 4px 4px 4px;
                padding: 4px;

                &:hover {
                    background: rgb(var(--grey-300));
                }
            }
            .disabled {
                color: rgb(var(--grey-500));
                display: flex;
                align-items: center;
                border-radius: 4px 4px 4px 4px;
                padding: 4px;
            }
        }
    }
    .rule-item {
        padding: 8px 32px 8px 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        border-radius: var(--border-radius-base);
        .rule-describe {
            max-width: 100%;
            min-width: 0px;
            overflow: hidden;
            flex-shrink: 1;
            font-size: var(--font-size-sm);
            line-height: 21px;
            .rule-type {
                font-size: 14px;
                line-height: 22px;
                color: #1e222b;
            }
            .rule-range {
                font-size: 12px;
                line-height: 22px;
                color: #7a7a7a;
            }
        }
        &:hover {
            background-color: rgb(var(--grey-100));
        }
        &.active {
            background-color: rgb(var(--grey-100));
        }
        .draggableHandle {
            display: none;
            position: absolute;
            left: 0px;
            width: 20px;
            height: 20px;
            border-radius: var(--border-radius-base);
            cursor: grab;
            // &:hover {
            //     background-color: rgb(var(--grey-300));
            // }
        }
        &:hover {
            .delete-item {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .draggableHandle {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .delete-item {
            display: none;
            cursor: pointer;
            border-radius: var(--border-radius-base);
            position: absolute;
            right: 4px;
            width: 24px;
            height: 24px;
            &:hover {
                background-color: rgb(var(--grey-300));
            }
        }
        & .active {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .grid-layout-wrap {
        width: calc(100% - 2 * var(--padding-sm) + 2 * var(--padding-xl));
        margin-left: calc(-1 * var(--padding-xl));
        padding-left: var(--padding-sm);
        .react-grid-item {
            transition: none;
        }
    }
}
:global .react-grid-item.react-grid-placeholder {
    background: rgb(var(--grey-300));
}
