.app {
    &-layout {
        display: flex;
        flex-direction: column;

        height: 100%;

        background-color: rgb(var(--bg-color));

        -webkit-font-smoothing: antialiased;
    }

    &-header {
        // height: 32px;
    }

    &-container {
        display: grid;
        grid-template-columns: 1fr auto;
        flex: 1;

        &-main {
            overflow: hidden;
            display: grid;
            grid-template-rows: auto 1fr;

            border-top: 1px solid rgb(var(--border-color));
            border-bottom: 1px solid rgb(var(--border-color));

            &&-collapsed {
                border-right: 1px solid rgb(var(--border-color));
                border-top-right-radius: var(--border-radius-lg);
                border-bottom-right-radius: var(--border-radius-lg);
            }
        }

        &-header {
            position: relative;
            z-index: 10;
            width: 100%;
        }

        &-content {
            position: relative;
            background-color: rgb(var(--bg-color-secondary));
        }

        &-sidebar {
            height: 100%;
        }
    }

    &-footer {
        // height: 36px;
    }
}
