.app {
    &-layout {
        height: 100%;
        -webkit-font-smoothing: antialiased;
        background-color: rgb(var(--bg-color));
        display: flex;
        flex-direction: column;
    }

    &-header {
        height: 40px;
    }

    &-container {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr auto;

        &-main {
            border-top: 1px solid rgb(var(--border-color));
            border-bottom: 1px solid rgb(var(--border-color));
            overflow: hidden;
            display: grid;
            grid-template-rows: auto 1fr;

            &&-collapsed {
                border-right: 1px solid rgb(var(--border-color));
                border-top-right-radius: var(--border-radius-lg);
                border-bottom-right-radius: var(--border-radius-lg);
            }
        }

        &-header {
            width: 100%;
        }

        &-content {
            position: relative;
            background-color: rgb(var(--bg-color-secondary));
        }

        &-sidebar {
            height: 100%;
        }
    }

    &-footer {
        height: 40px;
    }
}