@import '../../Basics/CSS/Skin/default.module.less';

.color-picker-outer {
    width: fit-content;
    display: block;
    background-color: @bg-color-secondary;
    padding: 10px;
    // padding-bottom: 0;
    border-radius: 10px;
    // left: 0; // set outside
    box-shadow: @box-shadow-base;
    z-index: 4;
    height: fit-content;
}

.color-picker {
    width: fit-content;
    display: flex;

    .picker {
        width: fit-content;

        .picker-swatches {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 10px;

            .picker-swatches-item {
                display: flex;
                flex-direction: column;

                .picker-swatch {
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    margin: 2px;
                    border: 1px solid #eee;
                    padding: 0;
                    border-radius: 50%;
                    outline: none;
                    // overflow: hidden;

                    .picker-swatch-btn {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }

        // button {
        //     display: inline-block;
        //     font-size: var(--font-size);
        //     padding: 0 5px;
        // }
    }

    .colorful-warp {
        margin-left: 10px;

        button {
            font-size: var(--font-size);
            margin: 10px 10px 10px 0;
        }
    }

    .color-btn {
        border: 1px solid var(--border-color-base);
    }
}

.color-picker-slot {
    margin: 5px;
    outline: 1px solid;
}