/*
1. 所有的变量加到这里，复用
2. 组件要用的话，在这定义好，导入组件使用
3. 需要作为皮肤变量的，导入到所有皮肤中导出使用
*/
.dropdown {
  padding: 0px 5px;
  position: relative;
  display: flex;
  align-items: center;
}
.dropdown .drop-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown .drop-icon {
  height: 100%;
  margin-left: 5px;
  border-left: 1px solid #efefef;
  display: flex;
  align-items: center;
}
