.numfmt-panel {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    .group-title {
        font-size: 16px;
        color: rgba(var(--color-black));
    }

    .label {
        font-size: 15px;
        color: rgba(var(--grey-400));
    }

    .describe {
        font-size: 13px;
        line-height: 20px;
        color: rgba(var(--grey-600));
    }

    .preview {
        height: 36px;
        padding: 0 16px;

        font-size: 14px;
        line-height: 36px;
        color: var(--color-black);

        border: 1px solid rgb(var(--grey-200));
        border-radius: 4px;
    }

    .btn-list {
        display: flex;
        justify-content: flex-end;
    }

    .m-r-12 {
        margin-right: 12px;
    }

    .m-t-16 {
        margin-top: 16px;
    }

    .m-t-14 {
        margin-top: 14px;
    }

    .m-t-8 {
        margin-top: 8px;
    }

    .m-b-20 {
        margin-bottom: 20px;
    }
}
