/*
1. 所有的变量加到这里，复用
2. 组件要用的话，在这定义好，导入组件使用
3. 需要作为皮肤变量的，导入到所有皮肤中导出使用
*/
.btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  padding: 0 10px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  height: 30px;
  border-radius: 1px;
  font-size: 14px;
  color: var(--text-color);
  background: var(--bg);
  border-color: var(--border-color-base);
}
.btn,
.btn:active {
  outline: 0;
}
.btn[disabled] {
  cursor: not-allowed;
}
.btn[disabled] > * {
  pointer-events: none;
}
.btn-lg {
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
}
.btn-sm {
  height: 24px;
  border-radius: 2px;
  font-size: 12px;
}
.btn:hover,
.btn:active {
  color: #0188fb;
  background: var(--bg);
  border-color: #0188fb;
}
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  color: var(--disabled-color);
  background: var(--disabled-bg);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.btn > span {
  display: inline-block;
}
.btn-primary {
  color: var(--bg);
  background: #0188fb;
  border-color: #0188fb;
}
.btn-primary:hover {
  color: var(--bg);
  background: rgba(1, 136, 251, 0.7);
  border-color: rgba(1, 136, 251, 0.7);
}
.btn-primary:active {
  color: var(--bg);
  background: rgba(1, 136, 251, 0.5);
  border-color: rgba(1, 136, 251, 0.5);
}
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:active {
  color: var(--disabled-color);
  background: var(--disabled-bg);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.btn-danger {
  color: var(--bg);
  background: #f5222d;
  border-color: #f5222d;
}
.btn-danger:hover {
  color: var(--bg);
  background: rgba(245, 34, 45, 0.7);
  border-color: rgba(245, 34, 45, 0.7);
}
.btn-danger:active {
  color: var(--bg);
  background: rgba(245, 34, 45, 0.5);
  border-color: rgba(245, 34, 45, 0.5);
}
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:active {
  color: var(--disabled-color);
  background: var(--disabled-bg);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.btn-text {
  color: var(--text-color);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn-text:hover {
  color: var(--text-color);
  background: #eee;
  border-color: transparent;
}
.btn-text:active {
  color: var(--text-color);
  background: #eee;
  border-color: transparent;
}
.btn-text[disabled],
.btn-text[disabled]:hover,
.btn-text[disabled]:active {
  color: var(--disabled-color);
  background: transparent;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.btn-active {
  color: var(--text-color);
  background: var(--bg-hover);
  border-color: var(--border-color-base);
  text-shadow: none;
  box-shadow: none;
}
.btn-round {
  height: 30px;
  border-radius: 30px;
  font-size: 14px;
}
.btn-round.btn-lg {
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
}
.btn-round.btn-sm {
  height: 24px;
  border-radius: 24px;
  font-size: 12px;
}
.btn-circle {
  min-width: 30px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}
.btn-circle.btn-lg {
  min-width: 40px;
  border-radius: 50%;
}
.btn-circle.btn-sm {
  min-width: 24px;
  border-radius: 50%;
}
.btn-block {
  width: 100%;
}
.btn-loading {
  position: relative;
}
.btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: var(--bg);
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: '';
  pointer-events: none;
}
.btn:active > span {
  position: relative;
}
