.select-item {
    padding-left: 24px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    .select-item-selected {
        display: flex;
        align-items: center;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%) scale(1.5);
    }

    .select-item-content {
        display: block;
    }

    .select-item-suffix {
        margin-left: 10px;

        span[role='img'] {
            font-size: 24px;
        }
    }
}

.select-disabled-item {
    pointer-events: none;
    color: var(--gray-15);
}
