@import '../../../Basics/CSS/Skin/base.module.less';
@import './mixin.less';

.input {
    .input();
}


.input-number {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;

    &:hover {
        .input-buttons {
            opacity: 1;
        }
    }
}


.input-wrap {
    position: absolute;
    right: 0;
}

.input-buttons {
    position: absolute;
    right: 1px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.1s linear;

    .input-button {
        background-color: var(--bg);
        border-style: solid;
        border-color: var(--border-color-base);
        color: var(--text-color);
        cursor: pointer;
        height: 13px;

        span {
            display: block;
            font-size: 7px;
            text-align: center;
            line-height: 0;
        }

    }

    .input-button:first-child {
        border-width: 0px 0px 1px 1px;
    }

    .input-button:last-child {
        border-width: 0px 0px 0px 1px;
    }
}