.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: var(--primary-bg);
    border-bottom: 1px solid var(--border-color);
}

.search-container {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background: linear-gradient(
            0deg,
            var(--secondary-bg) 0%,
            var(--secondary-bg) 100%
        ),
        var(--primary-bg);

    .search-icon {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        color: var(--secondary-color);
    }
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 13px;
    line-height: 20px;
    font-family: Poppins;
    background: transparent;
}

.search-input::placeholder {
    color: var(--secondary-color);
    font-size: 16px;
}

.shortcut-hint {
    display: flex;
    align-items: center;
    background-color: var(--third-bg);
    border-radius: 6px;
    padding: 6px 8px;
    line-height: 16px;
}

.shortcut-hint kbd {
    font-weight: bold;
}

.topbar-actions {
    display: flex;
    align-items: center;
    gap: 12px;

    &-button-icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    &-icon {
        display: flex;
        padding: 6px;
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &-new {
        font-weight: 500;
    }
}

.topbar-actions button {
    text-wrap: nowrap;
}

.topbar-actions .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
