@import '../../assets/css/skin/base.module.less';

.dropdown {
    padding: 0px 5px;
    position: relative;
    display: flex;
    align-items: center;


    .drop-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .drop-icon {
        height: 100%;
        margin-left: 5px;
        border-left: 1px solid @gray-14;
        display: flex;
        align-items: center;
    }

}